* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 61, 59);
}

a {
    text-decoration: none;
}

img{
    width: 100%;
}

.menu {
    list-style: none;
    display: flex;
    padding: 14px 14px;
    background-color: rgb(162, 255, 0);
}


.menu li a {
    padding: 15px;
    font-size: 27px;
    list-style: none;
    color: rgb(243, 0, 0);
    text-align: left;
    transition: 0.6s;
 
}
.menu li a:hover{
    background-color: rgba(175, 120, 227, 0.908);
}


.container {
max-width: 1024;
margin: 20px auto;
padding-left: 15px;
padding-right: 15px;
}
.row {
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: center;

}
.col-6{
   padding: 2rem; 
}
.box{
    padding: 32px 38px;
    border-radius: 10px;
    background-color: rgb(237, 241, 244);
}

.h1 {
 font-weight: bold;
 padding: 7px;

}
.pic{

    border-radius: 10px;
}
.dis{
font-weight: 500;
padding: 7px;
padding-bottom: 10px;

}
.btn:hover{
    border: 20px;
    background-color: rgb(39, 63, 63);
    padding: 6px;
    border-radius: 8px;
    color: azure;

}
.btn:hover{
    background-color: aqua;
}
div{
display: block;

}
.this-call{
    color: rgb(25, 29, 32);
    font-weight: 700px;
    padding: 20px;
}
.col-12{

    padding: 3rem;
    background-color: rgb(161, 161, 72);
    text-align: center;
    border-radius: 7px;
}
.product-details{
display: flex;
gap: 15px;
padding-top: 5px;
}
.copy-write{
    background-color: rgba(19, 30, 26, 0.815);
    padding: 60px;
    margin-top: 10px;
    text-align: center;
    color: azure;
    font-size: 40px;
    font-style: italic;
}

















.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}